# Pandas Essentials and Real-world Log Processing

## Series & DataFrame

In [2]:
import pandas as pd
import numpy as np

# Creating a Series
s = pd.Series([1, 3, 5, 6, 8])
print("Series:")
print(s)
print()

# Creating a DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
print("DataFrame:")
print(df)
print()

# Basic operations
print("DataFrame columns:", df.columns.tolist())
print("DataFrame index:", df.index.tolist())
print("DataFrame shape:", df.shape)
print()

# Indexing and slicing
print("Column A:")
print(df['A'])
print()
print("First two rows:")
print(df.head(2))

Series:
0    1
1    3
2    5
3    6
4    8
dtype: int64

DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

DataFrame columns: ['A', 'B', 'C']
DataFrame index: [0, 1, 2]
DataFrame shape: (3, 3)

Column A:
0    1
1    2
2    3
Name: A, dtype: int64

First two rows:
   A  B  C
0  1  4  7
1  2  5  8

## Reading CSV/JSON files

In [3]:
# Reading CSV (assuming a sample CSV exists)
# df_csv = pd.read_csv('sample.csv')
# For demo, create sample data
csv_data = """Name,Age,City
Alice,25,New York
Bob,30,Los Angeles
Charlie,35,Chicago"""
with open('sample.csv', 'w') as f:
    f.write(csv_data)

df_csv = pd.read_csv('sample.csv')
print("Data from CSV:")
print(df_csv)
print()

# Reading JSON
json_data = """[
{"name": "Alice", "age": 25, "city": "New York"},
{"name": "Bob", "age": 30, "city": "Los Angeles"},
{"name": "Charlie", "age": 35, "city": "Chicago"}
]"""
with open('sample.json', 'w') as f:
    f.write(json_data)

df_json = pd.read_json('sample.json')
print("Data from JSON:")
print(df_json)

Data from CSV:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Data from JSON:
      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

## Filtering rows

In [4]:
# Filtering rows
print("Original DataFrame:")
print(df_csv)
print()

# Filter rows where Age > 25
filtered_df = df_csv[df_csv['Age'] > 25]
print("Filtered rows (Age > 25):")
print(filtered_df)
print()

# Using query method
filtered_query = df_csv.query('Age > 25 and City == "Chicago"')
print("Filtered with query (Age > 25 and City == 'Chicago'):")
print(filtered_query)

Original DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Filtered rows (Age > 25):
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Filtered with query (Age > 25 and City == 'Chicago'):
      Name  Age     City
2  Charlie   35  Chicago

## Handling missing values (fillna, dropna)

In [5]:
# Handling missing values
df_missing = pd.DataFrame({
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, 7, 8],
    'C': [9, 10, 11, np.nan]
})
print("DataFrame with missing values:")
print(df_missing)
print()

# Check for missing values
print("Is null:")
print(df_missing.isnull())
print()

# Drop rows with missing values
df_dropped = df_missing.dropna()
print("After dropna():")
print(df_dropped)
print()

# Fill missing values
df_filled = df_missing.fillna(0)
print("After fillna(0):")
print(df_filled)
print()

# Fill with mean
df_filled_mean = df_missing.fillna(df_missing.mean())
print("After fillna with mean:")
print(df_filled_mean)

DataFrame with missing values:
     A    B     C
0  1.0  5.0   9.0
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0   NaN

Is null:
       A      B      C
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False   True

After dropna():
     A    B    C
0  1.0  5.0  9.0

After fillna(0):
     A    B     C
0  1.0  5.0   9.0
1  2.0  0.0  10.0
2  0.0  7.0  11.0
3  4.0  8.0   0.0

After fillna with mean:
          A         B     C
0  1.000000  5.000000   9.0
1  2.000000  6.666667  10.0
2  2.333333  7.000000  11.0
3  4.000000  8.000000  10.0

## Sorting, merging, grouping

In [6]:
# Sorting
print("Original DataFrame:")
print(df_csv)
print()

# Sort by Age
sorted_df = df_csv.sort_values('Age')
print("Sorted by Age:")
print(sorted_df)
print()

# Merging
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C'], 
    'value1': [1, 2, 3]
    })

df2 = pd.DataFrame({'key': ['A', 'B', 'D'], 'value2': [4, 5, 6]})
merged_df = pd.merge(df1, df2, on='key', how='outer')

print("Merged DataFrames:")
print(merged_df)
print()

# Grouping
grouped = df_csv.groupby('City')['Age'].mean()
print("Grouped by City, mean Age:")
print(grouped)

Original DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Sorted by Age:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Merged DataFrames:
  key  value1  value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

Grouped by City, mean Age:
City
Chicago        35.0
Los Angeles    30.0
New York       25.0
Name: Age, dtype: float64

## Aggregation

In [7]:
# Aggregation
df_agg = pd.DataFrame({
    'Category': ['A', 'A', 'B', 'B', 'C'],
    'Value': [10, 20, 30, 40, 50]
})
print("DataFrame for aggregation:")
print(df_agg)
print()

# Group and aggregate
grouped_agg = df_agg.groupby('Category').agg({
    'Value': ['sum', 'mean', 'count']
})
print("Aggregated:")
print(grouped_agg)
print()

# Pivot table
pivot = df_agg.pivot_table(values='Value', index='Category', aggfunc=['sum', 'mean'])
print("Pivot table:")
print(pivot)

DataFrame for aggregation:
  Category  Value
0        A     10
1        A     20
2        B     30
3        B     40
4        C     50

Aggregated:
         Value
           sum  mean count
Category
A           30  15.0     2
B           70  35.0     2
C           50  50.0     1

Pivot table:
           sum  mean
         Value Value
Category
A           30  15.0
B           70  35.0
C           50  50.0

## Working with datetime

In [8]:
# Working with datetime
df_datetime = pd.DataFrame({
    'date_str': ['2023-01-01', '2023-02-01', '2023-03-01'],
    'value': [1, 2, 3]
})
print("DataFrame with date strings:")
print(df_datetime)
print()

# Convert to datetime
df_datetime['date'] = pd.to_datetime(df_datetime['date_str'])
print("After converting to datetime:")
print(df_datetime)
print()

# Extract components
df_datetime['year'] = df_datetime['date'].dt.year
df_datetime['month'] = df_datetime['date'].dt.month
print("With extracted year and month:")
print(df_datetime)
print()

# Date-based filtering
filtered_dates = df_datetime[df_datetime['date'] > '2023-01-15']
print("Filtered dates after 2023-01-15:")
print(filtered_dates)

DataFrame with date strings:
     date_str  value
0  2023-01-01      1
1  2023-02-01      2
2  2023-03-01      3

After converting to datetime:
     date_str  value       date
0  2023-01-01      1 2023-01-01
1  2023-02-01      2 2023-02-01
2  2023-03-01      3 2023-03-01

With extracted year and month:
     date_str  value       date  year  month
0  2023-01-01      1 2023-01-01  2023      1
1  2023-02-01      2 2023-02-01  2023      2
2  2023-03-01      3 2023-03-01  2023      3

Filtered dates after 2023-01-15:
     date_str  value       date  year  month
1  2023-02-01      2 2023-02-01  2023      2
2  2023-03-01      3 2023-03-01  2023      3

## Load API logs

In [9]:
# Load API logs
# Sample log data
log_data = """2023-01-01 10:00:00 192.168.1.1 GET /api/users 200 150
2023-01-01 10:01:00 192.168.1.2 POST /api/login 201 200
2023-01-01 10:02:00 192.168.1.1 GET /api/data 404 50
2023-01-01 10:03:00 192.168.1.3 PUT /api/update 200 300
2023-01-01 10:04:00 192.168.1.2 GET /api/users 200 120"""

with open('api_logs.txt', 'w') as f:
    f.write(log_data)

# Load into DataFrame
logs_df = pd.read_csv('api_logs.txt', sep=' ', header=None, 
                      names=['timestamp', 'ip', 'method', 'endpoint', 'status', 'response_time'])
print("Loaded API logs:")
print(logs_df)

Loaded API logs:
           timestamp           ip method     endpoint  status  response_time
2023-01-01  10:00:00  192.168.1.1    GET   /api/users     200            150
2023-01-01  10:01:00  192.168.1.2   POST   /api/login     201            200
2023-01-01  10:02:00  192.168.1.1    GET    /api/data     404             50
2023-01-01  10:03:00  192.168.1.3    PUT  /api/update     200            300
2023-01-01  10:04:00  192.168.1.2    GET   /api/users     200            120

## Clean logs

In [10]:
# Clean logs
print("Original logs:")
print(logs_df)
print()

# Convert timestamp to datetime
logs_df['timestamp'] = pd.to_datetime(logs_df['timestamp'])

# Remove duplicates if any
logs_df_clean = logs_df.drop_duplicates()

# Standardize formats (assuming no inconsistencies in sample)
print("Cleaned logs:")
print(logs_df_clean)

Original logs:
           timestamp           ip method     endpoint  status  response_time
2023-01-01  10:00:00  192.168.1.1    GET   /api/users     200            150
2023-01-01  10:01:00  192.168.1.2   POST   /api/login     201            200
2023-01-01  10:02:00  192.168.1.1    GET    /api/data     404             50
2023-01-01  10:03:00  192.168.1.3    PUT  /api/update     200            300
2023-01-01  10:04:00  192.168.1.2    GET   /api/users     200            120

Cleaned logs:
                     timestamp           ip method     endpoint  status  \
2023-01-01 2026-01-03 10:00:00  192.168.1.1    GET   /api/users     200
2023-01-01 2026-01-03 10:01:00  192.168.1.2   POST   /api/login     201
2023-01-01 2026-01-03 10:02:00  192.168.1.1    GET    /api/data     404
2023-01-01 2026-01-03 10:03:00  192.168.1.3    PUT  /api/update     200
2023-01-01 2026-01-03 10:04:00  192.168.1.2    GET   /api/users     200

            response_time
2023-01-01            150
2023-01-01            200
2023-01-01             50
2023-01-01            300
2023-01-01            120

C:\Users\Anurag\AppData\Local\Temp\ipykernel_4984\3880420612.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  logs_df['timestamp'] = pd.to_datetime(logs_df['timestamp'])

## Extract IP, endpoint, response time

In [11]:
# Extract IP, endpoint, response time
# IP is already extracted
print("IPs:")
print(logs_df_clean['ip'])
print()

# Endpoint is already extracted
print("Endpoints:")
print(logs_df_clean['endpoint'])
print()

# Response time is already extracted
print("Response times:")
print(logs_df_clean['response_time'])
print()

# Extract additional info, e.g., endpoint base
logs_df_clean['endpoint_base'] = logs_df_clean['endpoint'].str.split('/').str[2]
print("Endpoint bases:")
print(logs_df_clean['endpoint_base'])

IPs:
2023-01-01    192.168.1.1
2023-01-01    192.168.1.2
2023-01-01    192.168.1.1
2023-01-01    192.168.1.3
2023-01-01    192.168.1.2
Name: ip, dtype: object

Endpoints:
2023-01-01     /api/users
2023-01-01     /api/login
2023-01-01      /api/data
2023-01-01    /api/update
2023-01-01     /api/users
Name: endpoint, dtype: object

Response times:
2023-01-01    150
2023-01-01    200
2023-01-01     50
2023-01-01    300
2023-01-01    120
Name: response_time, dtype: int64

Endpoint bases:
2023-01-01     users
2023-01-01     login
2023-01-01      data
2023-01-01    update
2023-01-01     users
Name: endpoint_base, dtype: object

## Calculate average latency & throughput

In [12]:
# Calculate average latency & throughput
# Average latency (response time)
avg_latency = logs_df_clean['response_time'].mean()
print(f"Average latency: {avg_latency} ms")
print()

# Throughput: requests per minute (assuming logs are over a period)
# For demo, calculate total requests and assume time span
time_span_minutes = (logs_df_clean['timestamp'].max() - logs_df_clean['timestamp'].min()).total_seconds() / 60
if time_span_minutes > 0:
    throughput = len(logs_df_clean) / time_span_minutes
    print(f"Throughput: {throughput} requests per minute")
else:
    print("Throughput: Cannot calculate (same timestamp)")

# Group by endpoint
endpoint_stats = logs_df_clean.groupby('endpoint')['response_time'].agg(['mean', 'count'])
print("Endpoint statistics:")
print(endpoint_stats)

Average latency: 164.0 ms

Throughput: 1.25 requests per minute
Endpoint statistics:
              mean  count
endpoint
/api/data     50.0      1
/api/login   200.0      1
/api/update  300.0      1
/api/users   135.0      2